:root {
  --vibrant: #000000;
  --muted: #3f3f3f;
  --darkvibrant: #7f7f7f;
  --lightvibrant: #bfbfbf;
  --darkmuted: #ffffff;
  --lightmuted: #ffffff;
}

@keyframes bounceWave {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(calc(-1 * var(--amplitude)));
  }
}

.animate-bounce-wave {
  --amplitude: 10px;
  animation: bounceWave 1s infinite ease-in-out;
}

.hover\:button-hover {
  &:hover {
    @media (hover: hover) {
      background-color: var(--vibrant);
    }
  }
}

.text-button {
  color: var(--lightvibrant) /* oklch(0.977 0.017 320.058) = #fdf4ff */;
}

.button-selected {
  /* background-color: var(--lightmuted) /* oklch(0.977 0.017 320.058) = #fdf4ff */
  background-color: var(--lightvibrant);
  color: var(--darkmuted);
  font-style: italic;
}

.button-unselected {
  /* background-color: var(--lightmuted), oklch(0.977 0.017 320.058) = #fdf4ff; */
  background-color: var(--darkmuted);
  font-style: italic;
  color: var(--lightvibrant) /* oklch(0.977 0.017 320.058) = #fdf4ff */;
}

.button-unselected:hover {
  background-color: var(--muted);
  color: var(--lightmuted);
  cursor: pointer;
}

.button-tap {
  background-color: var(--darkmuted);
  color: var(--lightvibrant);
}

.button-tap:hover {
  background-color: var(--muted);
  color: var(--lightmuted);
  cursor: pointer;
}

.background-gradient {
  background-image: radial-gradient(
    circle,
    var(--vibrant) 0%,
    var(--darkvibrant) 100%
  );
}
